name: Continuous Integration
on:
  pull_request:
jobs:
  Continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Use Node.js
        uses: actions/setup-node@2fddd8803e2f5c9604345a0b591c3020ee971a93 # tag=v3
        with:
          node-version: 16
      - name: Restore CI Cache
        uses: actions/cache@fd5de65bc895cf536527842281bea11763fefd77 # tag=v3.0.8
        id: cache-restore
        with:
          path: node_modules
          key: ${{ runner.os }}-16-${{ hashFiles('**/yarn.lock') }}

      - name: Install Dependencies if Cache Miss
        if: ${{ !steps.cache-restore.outputs.cache-hit }}
        run: yarn --immutable

      - name: Check Liniting
        run: yarn lint

      - name: Run Tests
        run: yarn test
        env:
          VITE_CLIENT_ID: ${{ secrets.CLIENT_ID }}
          VITE_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}

      - name: Build Code
        run: yarn build
