name: Continuous Integration
on:
  pull_request:
jobs:
  Continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3
      - name: Use Node.js
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3
        with:
          node-version: 16
      - name: Restore CI Cache
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # tag=v3.0.11
        id: cache-restore
        with:
          path: node_modules
          key: ${{ runner.os }}-16-${{ hashFiles('**/yarn.lock') }}

      - name: Install Dependencies if Cache Miss
        if: ${{ !steps.cache-restore.outputs.cache-hit }}
        run: yarn --immutable

      - name: Check Liniting
        run: yarn lint

      - name: Run Tests
        env:
          VITE_CLIENT_ID: '${{ secrets.CLIENT_ID }}'
          VITE_CLIENT_SECRET: '${{ secrets.CLIENT_SECRET }}'
        run: yarn test

      - name: Build Code
        run: yarn build
